<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Clendar.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ClendarWatchApp (Complication).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>ClendarWatchApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>ClendarWidgetExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A3064D18254CEF5200C7F228</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A307DAB925ADD6B300B5CE11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A33F80C522467A82009CC46A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A33F80D922467A85009CC46A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A33F80E422467A85009CC46A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A359CDA22588E93A0089C4A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3E7B3C225602CFE0087223A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
